*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #FFF;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -100px;
    width: 105%;
    height: 80px;
    z-index: 5;
    background: #B6000F;
    
}

.logo{
    width: 100px;
    display: flex;
    margin-left: 150px;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
    cursor: pointer;
}

.logo:hover{
    opacity: 0.5;
}

.nav {
    display: flex;
    align-items: center;
}

.nav li {
    list-style: none;
    margin: 0px 30px;

}

.nav li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #000;
    letter-spacing: 2px;
    cursor: pointer;  
}

.nav li:hover a {
    opacity: 0.5;
    color: #FFF;
   
}

.show-all{
    background: #FFF;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    color: #000;
    cursor: pointer;
}

button:hover{
    opacity: 0.5;
}

.menu i{
    font-size: 35px;
    margin-left: 50px;
    color: #FFF;
    cursor: pointer;

}
.search {
    position: relative;
    width: 300px;
    height: 40px;
}

.search input {
    position: absolute;
    left: 150px;
    top: 0;
    width: 100%;
    height: 100%;
    color: #000;
    background: transparent;
    border: 1px solid #000;
    outline: none;
    border-radius: 20px;
    padding: 0px 250px 0 200px;
    backdrop-filter: blur(10px);
    cursor: pointer;
}

.search input::placeholder {
    color: #555555;
}

.search i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 170px;
    padding-right: 10px;
    color: #000;
    border-right: 1px solid #000;
}

.banner h1{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 300px;
    margin-left: 250px;
    cursor: pointer;
    color: #000;
    font-size: 50px;
    cursor: pointer;   
    letter-spacing: 1px;
}

.banner p{
    display: inline-block;
    color: #000;
    letter-spacing: 2px;
    text-align: center;
    margin-left: 350px;
    margin-top: 50px;
    font-size: 19px;
    font-weight: 300;
    width: 600px;
    height: 50px;
    cursor: pointer;
}

.banner img{
    width: 300px;
    left: 1500px;
    margin-top: -150px;
    position: relative;   
    cursor: pointer;   
}

.carrousel div{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 70px; 
    margin-top: -180px;  
    margin-left: 90px;    
}

.img-conteiner .box{
    border: 2px solid #B6000F;
    border-radius: 20px;
    width: 250px;
    height: 280px;
    margin-top: 20px;
    background: #B6000F;
    cursor: pointer;
}

.carrousel .box:hover{
    transition: 0.3s;
    transform: scale(1.1);
    background: #D22E2E;
}

.box img{
    margin-top: -130px;
    margin-left: 30px;
    cursor: pointer;
}

.box img:hover{
    transform: scale(1.1);
}
.carrousel .img-conteiner .box h2{
    margin-left: -230px;
    margin-top: 110px;
    color: #FFF;
    font-size: 20px;
}

.img-conteiner .box p{
    text-align: center; 
    width: 150px;
    margin-left: -500px;
    margin-top: 170px;
    font-weight: 200;
    color: #FDB137;
    font-size: 18px;
}

.img-conteiner .box h3{
    margin-left: -745px;
    margin-top: 230px;
    font-size: 20px;
    color: #FFF;
}


